# The Star Wars API
## Get data from a public API and save it as a CSV file.

In [1]:
from requests import get
from time import sleep
import pandas as pd

# People DataFrame 
url = "https://swapi.dev/api/people/"
a = []
for i in range(8) :
  index = i+1
  new_url = url + str(index)
  resp = get(new_url).json()
  print(resp['name'])
  a.append({
    "Name": resp["name"],
    "Gender": resp["gender"],
    "height" :resp["height"],
    "Birth_year": resp["birth_year"],
    "Homeworld": resp["homeworld"],
    "Films": resp["films"]
    })
  sleep(1)
df = pd.DataFrame(a)
df

Luke Skywalker
C-3PO
R2-D2
Darth Vader
Leia Organa
Owen Lars
Beru Whitesun lars
R5-D4

,Name,Gender,height,Birth_year,Homeworld,Films
0,Luke Skywalker,male,172,19BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi..."
1,C-3PO,n/a,167,112BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi..."
2,R2-D2,n/a,96,33BBY,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi..."
3,Darth Vader,male,202,41.9BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi..."
4,Leia Organa,female,150,19BBY,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi..."
5,Owen Lars,male,178,52BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi..."
6,Beru Whitesun lars,female,165,47BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi..."
7,R5-D4,n/a,97,unknown,https://swapi.dev/api/planets/1/,[https://swapi.dev/api/films/1/]

In [2]:
get("https://swapi.dev/api/people/1").json().keys()

dict_keys(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color', 'birth_year', 'gender', 'homeworld', 'films', 'species', 'vehicles', 'starships', 'created', 'edited', 'url'])

In [3]:
get("https://swapi.dev/api/planets/1").json().keys()

dict_keys(['name', 'rotation_period', 'orbital_period', 'diameter', 'climate', 'gravity', 'terrain', 'surface_water', 'population', 'residents', 'films', 'created', 'edited', 'url'])

In [4]:
# Planets DataFrame 
b=[]
url2 = "https://swapi.dev/api/planets/"
for i in range(8) :
  index = i+1
  new_url = url2 + str(index)
  resp = get(new_url).json()
  print(resp['name'])
  b.append({
    "Homeworld": resp["name"],
    "terrain": resp["terrain"],
    "url": resp["url"]
    })
  sleep(1)
df2 = pd.DataFrame(b)
df2

Tatooine
Alderaan
Yavin IV
Hoth
Dagobah
Bespin
Endor
Naboo

,Homeworld,terrain,url
0,Tatooine,desert,https://swapi.dev/api/planets/1/
1,Alderaan,"grasslands, mountains",https://swapi.dev/api/planets/2/
2,Yavin IV,"jungle, rainforests",https://swapi.dev/api/planets/3/
3,Hoth,"tundra, ice caves, mountain ranges",https://swapi.dev/api/planets/4/
4,Dagobah,"swamp, jungles",https://swapi.dev/api/planets/5/
5,Bespin,gas giant,https://swapi.dev/api/planets/6/
6,Endor,"forests, mountains, lakes",https://swapi.dev/api/planets/7/
7,Naboo,"grassy hills, swamps, forests, mountains",https://swapi.dev/api/planets/8/

In [5]:
get("https://swapi.dev/api/films/1").json().keys()

dict_keys(['title', 'episode_id', 'opening_crawl', 'director', 'producer', 'release_date', 'characters', 'planets', 'starships', 'vehicles', 'species', 'created', 'edited', 'url'])

In [6]:
# Films DataFrame 
c=[]
url3 = "https://swapi.dev/api/films/"
for i in range(6) :
  index = i+1
  new_url = url3 + str(index)
  resp = get(new_url).json()
  print(resp['title'])
  c.append({
    "Film_title": resp["title"],
    "release_date": resp["release_date"],
    "director": resp["director"],
    "producer": resp["producer"],
    "url": resp["url"]
    })
  sleep(1)
df3 = pd.DataFrame(c)
df3

A New Hope
The Empire Strikes Back
Return of the Jedi
The Phantom Menace
Attack of the Clones
Revenge of the Sith

,Film_title,release_date,director,producer,url
0,A New Hope,1977-05-25,George Lucas,"Gary Kurtz, Rick McCallum",https://swapi.dev/api/films/1/
1,The Empire Strikes Back,1980-05-17,Irvin Kershner,"Gary Kurtz, Rick McCallum",https://swapi.dev/api/films/2/
2,Return of the Jedi,1983-05-25,Richard Marquand,"Howard G. Kazanjian, George Lucas, Rick McCallum",https://swapi.dev/api/films/3/
3,The Phantom Menace,1999-05-19,George Lucas,Rick McCallum,https://swapi.dev/api/films/4/
4,Attack of the Clones,2002-05-16,George Lucas,Rick McCallum,https://swapi.dev/api/films/5/
5,Revenge of the Sith,2005-05-19,George Lucas,Rick McCallum,https://swapi.dev/api/films/6/

In [7]:
result = pd.merge(df, df2 , how='left', left_on='Homeworld', right_on='url')
result

,Name,Gender,height,Birth_year,Homeworld_x,Films,Homeworld_y,terrain,url
0,Luke Skywalker,male,172,19BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,desert,https://swapi.dev/api/planets/1/
1,C-3PO,n/a,167,112BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,desert,https://swapi.dev/api/planets/1/
2,R2-D2,n/a,96,33BBY,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi...",Naboo,"grassy hills, swamps, forests, mountains",https://swapi.dev/api/planets/8/
3,Darth Vader,male,202,41.9BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,desert,https://swapi.dev/api/planets/1/
4,Leia Organa,female,150,19BBY,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi...",Alderaan,"grasslands, mountains",https://swapi.dev/api/planets/2/
5,Owen Lars,male,178,52BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,desert,https://swapi.dev/api/planets/1/
6,Beru Whitesun lars,female,165,47BBY,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,desert,https://swapi.dev/api/planets/1/
7,R5-D4,n/a,97,unknown,https://swapi.dev/api/planets/1/,[https://swapi.dev/api/films/1/],Tatooine,desert,https://swapi.dev/api/planets/1/

In [8]:
#clean DataFrame
result.drop(['Homeworld_x', 'url','terrain'], axis=1, inplace=True)
result.rename(columns = {'Homeworld_y': 'Homeworld'}, inplace = True)

result

,Name,Gender,height,Birth_year,Films,Homeworld
0,Luke Skywalker,male,172,19BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine
1,C-3PO,n/a,167,112BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine
2,R2-D2,n/a,96,33BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Naboo
3,Darth Vader,male,202,41.9BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine
4,Leia Organa,female,150,19BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Alderaan
5,Owen Lars,male,178,52BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine
6,Beru Whitesun lars,female,165,47BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine
7,R5-D4,n/a,97,unknown,[https://swapi.dev/api/films/1/],Tatooine

In [9]:
x = result.iloc[:,4]
x

0    [https://swapi.dev/api/films/1/, https://swapi...
1    [https://swapi.dev/api/films/1/, https://swapi...
2    [https://swapi.dev/api/films/1/, https://swapi...
3    [https://swapi.dev/api/films/1/, https://swapi...
4    [https://swapi.dev/api/films/1/, https://swapi...
5    [https://swapi.dev/api/films/1/, https://swapi...
6    [https://swapi.dev/api/films/1/, https://swapi...
7                     [https://swapi.dev/api/films/1/]
Name: Films, dtype: object

In [10]:
x[0][0]

'https://swapi.dev/api/films/1/'

In [11]:
type(x)

pandas.core.series.Series

In [12]:
type(x[0])

list

In [13]:
# join Films DataFrame into result
df_films=df3.set_index('url')
df_films

,Film_title,release_date,director,producer
url,,,,
https://swapi.dev/api/films/1/,A New Hope,1977-05-25,George Lucas,"Gary Kurtz, Rick McCallum"
https://swapi.dev/api/films/2/,The Empire Strikes Back,1980-05-17,Irvin Kershner,"Gary Kurtz, Rick McCallum"
https://swapi.dev/api/films/3/,Return of the Jedi,1983-05-25,Richard Marquand,"Howard G. Kazanjian, George Lucas, Rick McCallum"
https://swapi.dev/api/films/4/,The Phantom Menace,1999-05-19,George Lucas,Rick McCallum
https://swapi.dev/api/films/5/,Attack of the Clones,2002-05-16,George Lucas,Rick McCallum
https://swapi.dev/api/films/6/,Revenge of the Sith,2005-05-19,George Lucas,Rick McCallum

In [14]:
df_films.drop(['release_date', 'director','producer'], axis=1, inplace=True)
df_films

                                             Film_title
url
https://swapi.dev/api/films/1/               A New Hope
https://swapi.dev/api/films/2/  The Empire Strikes Back
https://swapi.dev/api/films/3/       Return of the Jedi
https://swapi.dev/api/films/4/       The Phantom Menace
https://swapi.dev/api/films/5/     Attack of the Clones
https://swapi.dev/api/films/6/      Revenge of the Sith

In [15]:
dict_films=df_films['Film_title'].to_dict()
dict_films

{'https://swapi.dev/api/films/1/': 'A New Hope',
 'https://swapi.dev/api/films/2/': 'The Empire Strikes Back',
 'https://swapi.dev/api/films/3/': 'Return of the Jedi',
 'https://swapi.dev/api/films/4/': 'The Phantom Menace',
 'https://swapi.dev/api/films/5/': 'Attack of the Clones',
 'https://swapi.dev/api/films/6/': 'Revenge of the Sith'}

In [16]:
result['new_col'] = [','.join([dict_films[j] for j in i]) for i in result['Films']]
result

,Name,Gender,height,Birth_year,Films,Homeworld,new_col
0,Luke Skywalker,male,172,19BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,"A New Hope,The Empire Strikes Back,Return of t..."
1,C-3PO,n/a,167,112BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,"A New Hope,The Empire Strikes Back,Return of t..."
2,R2-D2,n/a,96,33BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Naboo,"A New Hope,The Empire Strikes Back,Return of t..."
3,Darth Vader,male,202,41.9BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,"A New Hope,The Empire Strikes Back,Return of t..."
4,Leia Organa,female,150,19BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Alderaan,"A New Hope,The Empire Strikes Back,Return of t..."
5,Owen Lars,male,178,52BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,"A New Hope,Attack of the Clones,Revenge of the..."
6,Beru Whitesun lars,female,165,47BBY,"[https://swapi.dev/api/films/1/, https://swapi...",Tatooine,"A New Hope,Attack of the Clones,Revenge of the..."
7,R5-D4,n/a,97,unknown,[https://swapi.dev/api/films/1/],Tatooine,A New Hope

In [17]:
# check 
result.iloc[:,[4,6]]

,Films,new_col
0,"[https://swapi.dev/api/films/1/, https://swapi...","A New Hope,The Empire Strikes Back,Return of t..."
1,"[https://swapi.dev/api/films/1/, https://swapi...","A New Hope,The Empire Strikes Back,Return of t..."
2,"[https://swapi.dev/api/films/1/, https://swapi...","A New Hope,The Empire Strikes Back,Return of t..."
3,"[https://swapi.dev/api/films/1/, https://swapi...","A New Hope,The Empire Strikes Back,Return of t..."
4,"[https://swapi.dev/api/films/1/, https://swapi...","A New Hope,The Empire Strikes Back,Return of t..."
5,"[https://swapi.dev/api/films/1/, https://swapi...","A New Hope,Attack of the Clones,Revenge of the..."
6,"[https://swapi.dev/api/films/1/, https://swapi...","A New Hope,Attack of the Clones,Revenge of the..."
7,[https://swapi.dev/api/films/1/],A New Hope

In [18]:
result.iloc[0,4]

['https://swapi.dev/api/films/1/',
 'https://swapi.dev/api/films/2/',
 'https://swapi.dev/api/films/3/',
 'https://swapi.dev/api/films/6/']

In [19]:
result.iloc[0,6]

'A New Hope,The Empire Strikes Back,Return of the Jedi,Revenge of the Sith'

In [20]:
final_result = result.drop(['Films'], axis=1).rename(columns = {'new_col': 'films'})
final_result

# save to csv
#final_result.to_csv('StarWars.csv', index=False)

,Name,Gender,height,Birth_year,Homeworld,films
0,Luke Skywalker,male,172,19BBY,Tatooine,"A New Hope,The Empire Strikes Back,Return of t..."
1,C-3PO,n/a,167,112BBY,Tatooine,"A New Hope,The Empire Strikes Back,Return of t..."
2,R2-D2,n/a,96,33BBY,Naboo,"A New Hope,The Empire Strikes Back,Return of t..."
3,Darth Vader,male,202,41.9BBY,Tatooine,"A New Hope,The Empire Strikes Back,Return of t..."
4,Leia Organa,female,150,19BBY,Alderaan,"A New Hope,The Empire Strikes Back,Return of t..."
5,Owen Lars,male,178,52BBY,Tatooine,"A New Hope,Attack of the Clones,Revenge of the..."
6,Beru Whitesun lars,female,165,47BBY,Tatooine,"A New Hope,Attack of the Clones,Revenge of the..."
7,R5-D4,n/a,97,unknown,Tatooine,A New Hope